<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册界面</title>
    <style>

    </style>
</head>
<body>
<h1>欢迎来到京东购物</h1>
<div>
    <ul>
        <li>hello</li>
        <li>abc</li>
    </ul>
<!--如果是表单提交，必须在表单元素上添加name属性-->
    <form action="/register2" method="get">
        <p><input type="text" name="username" placeholder="请输入用户名"></p>
        <p><input type="text" name="address" placeholder="请输入地址"></p>
        <p><input type="submit" value="提交"></p>
    </form>

</div>
</body>
</html>